body {
  background-color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
      "header header "
      "nav nav "
      "main main "
      "section section " ;
  gap: 20px;
  /* line-height: 130%; */
  color: #000000;
}

main {
  grid-area: main;
  padding: 11rem;
  text-align: center;
}

.compact {
  line-height: 200%;
}

h1.big-heading {
  font-size: 5.6rem;
}

h3.big-heading {
  font-size: 3.5rem;
}

h3.small-para {
  font-size: 0.99rem;
  width: 40rem;
}

/* Navigation menu*/
nav {
  grid-area: nav;
  font-weight: bold;
  position: fixed;
  width: 600px;
  height: 40px;
  /* left: 50%; */
  top: 1%;
  margin-left: 32%;
}

.nav-bar li {
  display: inline;
  padding: 1.5rem;
}

.nav-bar a:hover {
  color: #0b19e0;
}

a {
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}

/* About me section */
div.Aboutme{
  display: flex;
  justify-content: center;
  grid-area: section;
  background-color: #000000;
  color: #ffff;
  font-size: xx-large;
  font-family: 'Montserrat', sans-serif;
}